
body,p{
    margin: 0;
}
li{
    list-style:none;
}
ul{
    margin: 0;
    padding: 0;
}
img{
    display: block;
}

/* 顶部 */
.header{
    background-color: #2e2828;
    width: 100%;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
}
.header1{
    margin: 0 auto;
    width: 1200px;
    height: 36px;
}
.header01{
    float: left;
}
.header02{
    float: right;
}
.header1 .header01 a:nth-child(n+2){
text-decoration: none;
color: #afafaf;
/* padding: 0 8px; */
font-size: 12px;
}
.header1 .header01 a:first-child{
    text-decoration: none;
    color: #afafaf;
    /* padding: 0 8px 0 0; */
    font-size: 12px;
    }
.header1 .header01 span{
    color: #414141;
}
.header1 .header02 a{
    text-decoration: none;
    color: #afafaf;
    /* padding: 0 8px 0 0; */
    font-size: 12px;
    }
    .header1 .header02 span{
        color: #414141;
    }
  /* logo */
.logo{
    width: 1200px;
    margin: 0 auto;
    height: 41px;
    padding-top: 18px;
    padding-bottom: 15px;
}
.logo .logo_left img{
    float: left;
}

.logo .logo_left ul li{
    float: left;
    line-height: 41px;
    margin-right: 24px;

}
.logo_right{
    width: 240px;
    height: 30px;
    background-color: #f0f0f0;
    float: right;
    border-radius: 15px;
}
.logo_right input{
color: #999;
/* border-color: #f0f0f0; */
background-color: #f0f0f0;
border-style: none;
float: right;
margin-top: 7px;
margin-right: 8px;
}
/* banner 开始 */
.banner{
    height: 550px;
    background: url("../img/lunbo.webp");

}
/* banner 结束 */

/* home start */
.home{
    width: 1200px;
    height: 88px;
    margin: 0 auto;
    border: 1px solid #aabbcc;
    border-radius: 10px;
    margin-top: -88px;
    background-color: #fff;
    margin-bottom: 34px;
}
.home .home_left{
    float: left;
    width: 244px;
    height: 52px;
    padding-left: 26px;
    margin-top: 16px;
    border-right: 1px solid #eee;

}
.home .home_left img{
    float: left;
    width: 52px;
    margin-right: 17px;
}
.home .home_left .portrait{
    float: left;
}
.home .home_left .portrait .portrait_top{
    color: #999;
    font-size: 14px;
}
.home .home_left .portrait .portrait_top a{
    color: #333;
}
.home .home_left .portrait .portrait_bottom{
    font-size:14px ;
    margin-top: 6px;
}
.home .home_left .portrait .portrait_bottom .span1{
    color: #de5b60;
    border: 1px solid #de5b60 ;
    padding: 0 4px;
    border-radius: 5px;
}
.home .home_left .portrait .portrait_bottom .span2{
    background: #595454;
    color: #fde4b3;
    padding: 0 4px;
    border-radius: 5px;
}





.home .home_center{
    float: left;
    width: 660px;
    height: 64px;
    margin-top: 17px;
    /* background-color: blue; */
}

.home .home_center ul li{
    float: left;
    width: 84px;
    height: 64px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.home .home_center ul li div{
    width: 40px;
    height: 40px;
    margin: 0 22px;
    /* 超出隐藏 */
    overflow: hidden;  
}
.home .home_center ul li div img{
    height: 40px;
    background-position: -120px 0;
}




.home .home_right{
    float: left;
    width: 267px;
    height: 88px;
    border-left: 1px solid #eee;
}






/* home end */


/* 热销商品上面 */
.matter1{
    width: 1200px;
    height: 200px;
    margin: 0 auto 13px auto;
    /* background-color: blue; */
}
.matter01{
width: 290px;
height: 200px;
float: left;
background-color: black;
border-radius: 10px;

}
.matter01:nth-child(n+2){
    width: 290px;
    height: 200px;
    margin-left: 13px;
    float: left;
    background-color: black;
    }

/* 热销商品 */
/* h2{
    width: 1200px;
    height: 66px;
    margin: 0 auto;
    font-size: 26px;
    color: #333;
    padding: 27px 0 13px 0; 
} */
.matter02{
    font-size: 26px;
    color: #333;
    margin: 0 auto;
    width: 1200px;
    height: 26px;
    padding: 27px 0 13px 0;
    line-height: 26px;
    font-weight: 400px;
}
.matter2{
    width: 1200px;
    height: 604px;
    /* background-color: rgb(89, 0, 255); */
    margin: auto;

}
.matter2_left{
    width: 232px;
    height: 592px;
    /* background-color: black; */
   margin-bottom: 12px;

    float: left;
}
.matter2_right{
    width: 968px;
    height: 604px;
    /* background-color: bisque; */
    float: left;
}
.matter2_right1{
    width: 230px;
    height: 290px;
    margin: 0 0 12px 12px;
    background-color: #f9f9f9;
    float: left;
    border-radius: 10px;
}
.matter2_right1 img{
    margin: 35px 40px 0 40px;
    /* border-radius: 10px; */
}
.matter2_right2{
    width: 210px;
    height: 21px;
    margin: 12px 10px 0 10px;
    text-align: center;
    font-size: 14px;
}
.matter2_right3{
    color: #777;
    line-height: 18px;
    padding: 0 10px;
    margin: 2px 20px 7px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}
.matter2_right4{
    font-size: 14px;
    font-weight: 400;
    margin: 0 20px 20px;
    color: #cc0e11;
    text-align: center;
}
/* 精品推荐 */
.matter3{
    width: 1210px;
    height: 311px;
    margin: auto;
}
.matter03{
    width: 242px;
    height: 295px;
    /* background-color: #f3f3f3; */
    float: left;

}
.matter003{
    width: 230px;
    height: 205px;
    padding-top: 36px;
    margin: 0 6px;
    background-color: #fff;
    float: left;
    box-shadow: 0 1px 8px rgb(0 0 0 / 6%);
    border-radius: 10px 10px 10px 10px;
}
/* .matter003_top img{
    /* margin: 0 40px 19px 40px; 
} */

.matter003_top{
    width: 150px;
    height: 150px;
    margin: 0 40px 19px 40px;
    background-color: rgb(255, 255, 255);
}
.matter003_bottom{
    width: 210px;
    height: 36px;
    background-color: #f3f3f3;;
    padding: 0 10px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    font-size: 14px;
    line-height: 36px;
    overflow: hidden;
    color: #777;
}
.matter0003_top{
    width: 230px;
    height: 24px;
    margin: 9px 6px 0 6px;
    text-align: center;
    overflow: hidden;
    display: block;
}
.matter0003_bottom{
    line-height: 18px;
    color: #d0021b;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    text-align: center;
}

 /* 精品推荐下轮播图  */
.matter4{
    height: 160px;
    width: 1200px;
}
.matter4{
    height: 120px;
    width: 1200px;
    margin: 27px auto 13px auto;
}
/* 智能穿戴 */
.matter5{
    width: 1200px;
    height: 898px;
    margin: 0 auto;
}
.matter05{
    width: 1200px;
    height: 898px;
    margin: 35px auto 0 auto;
}
.matter5_top{
    width: 1200px;
    height: 32px;
    margin: 27px 0 12px 0; 
    line-height: 32px;
    /* overflow: hidden; */
}
.matter5_top p{
   font-size: 26px;
    color: #333;
    float: left;
    font-weight: 400;
}
.matter5_top ul li{
     float: left;
    margin-right: 24px;
    font-size: 12px;
    font-size: 14px;
    color: #999;
 }
 .matter5_top ul{
  width: 384px;
  height: 32px;
  float: left;
  margin-left: 28px;
  /* display: block; */
}
.matter5_top_right{
    float: right;
}
.matter5_top_right a{
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
.matter5_bottom{
    width: 1200px;
    height: 854px;
}
.matter5_bottom_top{
    width: 1200px;
    height: 604px;
}
/* .matter5_bottom_top ul{
    width: 1210px;
    height: 604px;
    margin-right: 0;
} */
.matter5_bottom_top .matter005{
    width: 472px;
    height: 290px;
    /* margin: 0 0 12px 12px;  */
    background: #f9f9f9;
    border-radius: 10px;
    float: left;
}

.matter0005{
    width: 230px;
    height: 290px;
    margin: 0 0 12px 12px;
    background: #f9f9f9;
    border-radius: 10px;
    float: left;
}
.matter00005{
    width: 230px;
    height: 290px;
    margin: 0 0 12px 0;
    background: #f9f9f9;
    border-radius: 10px;
    float: left;
}
.matter0051{
    width: 150px;
    height: 150px;
    margin: 35px 40px 0 40px;
}
.matter0052{
    width: 210px;
    height: 21px;
    max-width: 12px 10px 0 10px;
    line-height: 21px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    color: #3a3a3a;
    text-align: center;

}
.matter0053{
    width: 170px;
    height: 17.6px;
    margin: 2px 20px 0 20px;
    padding: 0 10px;
    color: #777;
    line-height: 18px;
    font-size: 12px;
    overflow: hidden;
    font-weight: 400;
    text-align: center;
}
.matter0054{
    width: 190px;
    height: 20.8px;
    text-align: center;
    color: #d0021b;
    line-height: 21px;
    font-size: 14px;
    font-weight: 400;
    margin: 0 20px 20px;
    overflow: hidden;
}
.matter5_bottom03{
    width: 202px;
    height: 240px;
    /* background-color: rgb(172, 51, 51); */
    float: left;
    margin-bottom: 10px;
}
.matter5_bottom01{
    width: 1212px;
    height: 240px;
    /* background-color: rgb(243, 114, 114); */
    margin: 0 -12px 8px 0;
    padding-top: 10px;
}
.matter5_bottom01 ul{
    height: 240px;
}
.matter5_bottom04{
    width: 190px;
    height: 156px;
    margin: 0 6px;
    padding-top: 34px;
    background-color: #f9f9f9;
    border-radius: 0 0 10px 10px;
}
.matter5_bottom04:first-child{
    width: 190px;
    height: 156px;
    margin: 0 6px 0 0;
    padding-top: 34px;
    background-color: #f9f9f9;
    border-radius: 0 0 10px 10px;
}
.matter5_bottom05{
    width: 120px;
    height: 120px;
    margin: 0 35px;
}
.matter5_bottom06{
    padding: 0 10px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    overflow: hidden;
    width: 170px;
    top: 158px;
    line-height: 32px;
    height: 32px;
    background: #f3f3f3;
    color: #777;
    font-size: 12px;
    margin-top: 4px;
}
.matter5_bottom07{
    width: 170px;
    height: 21px;
    margin: 8px 16px 0 16px;
    text-align: center;
    overflow: hidden;
    display: block;
    line-height: 21px;
    font-size: 14px;
}
.matter5_bottom08{
    width: 202px;
    height: 20.8;
    line-height: 18px;
    color: #d0021b;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    text-align: center;
}
/* 蓝牙音箱眼镜 */
.matter06{
    width: 1200px;
    height: 898px;
    margin: 35px auto 0 auto;
}
.matter6_top{
    width: 1200px;
    height: 32px;
    margin: 27px 0 12px 0; 
    line-height: 32px;
    /* overflow: hidden; */
}
.matter6_top p{
   font-size: 26px;
    color: #333;
    float: left;
    font-weight: 400;
}
.matter6_top ul li{
     float: left;
    margin-right: 24px;
    font-size: 12px;
    font-size: 14px;
    color: #999;
 }
 .matter6_top ul{
  width: 504px;
  height: 32px;
  float: left;
  margin-left: 28px;
  /* display: block; */
}
/* 手机 */
.matter7{
    width: 1200px;
    height: 346px;
    margin: 0 auto;
}
.matter07{
    width: 1200px;
    height: 346px;
    margin: 0 auto;
}
.matter7_top{
    width: 1200px;
    height: 32px;
    margin: 27px 0 12px 0; 
    line-height: 32px;
}
.matter06_bottom{

}
.matter7 .matter07 .matter6_top ul{
    width: 600px;
    height: 32px;
    
}

.matter7_bottom{
    width: 1200px;
    height: 302px;
    float: left;
}


/* 精品平板 */
.matter8{
    width: 1200px;
    height: 950px;
    margin: 0 auto;

}
.matter08{
    width: 1200px;
    height: 950px;
    margin: 0 auto;
}


/* 智慧屏 */
.matter9{
    width: 1200px;
    height: 648px;
    margin: 0 auto;

}
.matter09{
    width: 1200px;
    height: 648px;
    margin: 0 auto;
}
.matter9 .matter09 .matter6_top ul{
    width: 950px;
    height: 32px;
}


/* 笔记本显示器 */
.matter10{
    width: 1200px;
    height: 648px;
    margin: 0 auto;

}
.matter010{
    width: 1200px;
    height: 648px;
    margin: 0 auto;
}
.matter10 .matter010 .matter6_top ul{
    width: 930px;
    height: 32px;
}

/* 底部 */
.foot{
    height: 487px;
    width: 100%;
    background-color: #f9f9f9;

}
.foot1{
    width: 1200px;
    margin: 0 auto;
}
.foot2{
    height: 60px;
    width: 100%;
    background-color: #fff;
}
.foot3{
    height: 82px;
  
}
.foot3 ul{
    width: 1200px;
    height: 40px;
    padding: 22px 0 20px 0;
    /* background-color: rgb(151, 23, 23); */
}
.foot3 li{
    font-size: 18px;
    color: #333;
    height: 40px;
    text-align: center;
    float: left;
    padding-right: 120px;
}

.foot4{
    height: 211px;
   
}
.foot5{
    height: 134px;
}
.foot04{
    width: 1200px;
    height: 162px;
    margin: 0 auto;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 23px 0 24px 0;

}
.foot04_left{
    width: 920px;
    height: 155px;
    padding-top: 0px;
    border-right: 1px solid #e5e5e5;
    float: left;
    /* padding: 0; */
}

.foot04_left dl{
    width: 16.66667%;
    float: left;
}
.foot04_left dt{
    font-size: 14px;
    color: #3a3a3a;
    padding-bottom: 7px;
}
.foot04_left dd{
    line-height: 22px;
    color: #777;
    font-size: 12px;
    margin: 0;
}

.foot04_right{
    padding: 0;
    width: 278px;
    height: 160px;
    float: left;
    margin-top: 2px;
    text-align: center;
}
.foot04_right dt{
    font-size: 24px;
    padding: 0;
    color: #575757;
    font-weight: bold;
}
.foot04_right .foot01{
    font-size: 14px;
    color: #333;
}
.foot04_right .foot02{
    display: block;
    width: 170px;
    height: 34px;
    padding: 0;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 14px;
    line-height: 34px;
    background: #333;
    border-radius: 17px;
    color: #fff;
}
.foot04_right .foot03{
    float: left;
    width: 250px;
    /* margin-top: 26px; */
    margin-left: 40px;
    height: 24px;
    text-align: left;
}
.foot04_right .foot03 i{
    width: 24px;
    height: 24px;
    margin-right: 14px;
}
.foot5{
    height: 134px;
}
.foot5 .foot04{
    width: 1200px;
    height: 81px;
    padding: 25px 0 28px 0;
    margin: 0 auto;
}
.foot5 .foot05{
    margin: 3px 20px 0 0;
    float: left;
}
.foot04 ul{
    width: 720px;
    height: 12px;
    margin: 3px 0 6px 0;
    float: left;
    list-style: none;
    display: block;
}
.foot04 li{
    display: block;
    float: left;
    color: #777; 
    line-height: 1;
    padding-right: 6px;
    border-right: 1px solid #d3d3d3;
    margin-right: 6px;
    font-size: 12px;
}
.foot04 a{
    text-decoration: none;
    color: #afafaf;
    font-size: 12px;
}
.foot06{
    width: 720px;
    height: 81px;
    float: left;
}

/* 固定条 */
/* .matter10{
    width: 80px;
    height: 300px;
    position: fixed;
    box-shadow: #333;
    right: 30px;
    background-color: #cc0e11;
} */
